<h1>{{title}}</h1>
<h2>hosted by {{Creator.username}}</h2>
<p>{{description}}</p>
<h3>Attending</h3>
<ul>
    {{#each Attendee}}
        <li>{{username}}</li>
    {{/each}}
</ul>
<h3>Date: {{date}}</h3>
{{#if loggedIn}}
    <h4>{{distance}} miles away!</h4>
{{/if}}
<p>we need {{volunteersNeeded}} volunteers</p>
<p>{{slotLeft}} slot(s) left!</p>

{{#if loggedIn}}
<button>Attend</button>
{{/if}}
